<div style="height: 30%">
  <app-c02-emissions label="CO2 Emission Saved" total="80KG" percentage="21"></app-c02-emissions>
</div>
<br>

<mat-divider></mat-divider>

<br>
<div>
  <app-ranking></app-ranking>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="50">
    <app-travelled-kms label="Total Travelled Kms" total="200 Km" percentage="14"></app-travelled-kms>
  </mat-card>
  <mat-card fxFlex="50">
    <app-traveltime label="Total Travel Time" total="540 Minutes" percentage="18"></app-traveltime>
  </mat-card>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
<app-numberoftrips label="Total Number of Trips" total="120" percentage="14"></app-numberoftrips>
</div>
